#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
#icon {
    margin-right: 100px;
    padding-bottom: 1px;
}
#icon-mode:hover {
    cursor: pointer;
}
#icon-text {
    padding-left: 10px;
}
.pull-right {
    float: right;
}

.full-width {
    width: 100%;
}

.form {
    display: inline-grid;
    grid-template-columns: auto;
}

.form-field {
    padding: 20px;
}

.return-home {
    color: #4F3674;
    text-decoration: none;
}

.return-home:hover {
    background-color: #D6A800;
    color: #4F3674;
}

.return-home:visited {
    color: #3C275A;
}

.assign-container {
    padding: 10px;
}
.assign-content {
    width: 600px;
    margin: 3% auto 0;
}
.assign-result-text {
    text-align: center;
    font-size: 28px;
}