/*
    Title: site.css
    Author: Jamal Eddine Damir
    Date: august 14 2022
    Description: Copy of CSS classes from Web-231 repository with additional elements 
                 specific to class web-330.
*/

/* CSS properties for the main div*/
#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

/* CSS properties to put the toggle icon on the top of the page*/
#icon {
    margin-right: 100px;
    padding-bottom: 1px;
}

/* Change the cursor to pointer when hovering over the toggle icon*/
#icon-mode:hover {
    cursor: pointer;
}


#icon-text {
    padding-left: 10px;
}

/* Puts the toggle icon on the right side of the page*/
.pull-right {
    float: right;
}

.full-width {
    width: 100%;
}

/* Form properties*/ 
.form {
    display: inline-grid;
    grid-template-columns: auto;
}

.form-field {
    padding: 20px;
}

/* Styling for return home link*/
.return-home {
    color: #4F3674;
    text-decoration: none;
}

.return-home:hover {
    background-color: #D6A800;
    color: #4F3674;
}

.return-home:visited {
    color: #3C275A;
}

/* Styling for reusable classes*/
.assign-container {
    padding: 10px;
}
.assign-content {
    width: 600px;
    margin: 3% auto 0;
}
.assign-result-text {
    text-align: center;
    font-size: 28px;
}