/**
 * Title: restaurant.css
 * Date: September 07, 2022
 * Author: Jamal Eddine Damir
 * Description: CSS file containing styling specific to Restaurant app.
 * Sources:
 * W3Schools.com
 * Instructor provided assignment specific instructions
 */

/* Grid layout for restaurant items cards*/
#grid {
	display: grid;
	grid-template-columns: auto auto;
	margin: 10px;
	column-gap: 10px;
	row-gap: 10px;
}

/* Adding bottom padding to card class*/
.card {
	padding-bottom: 10px;
}
